*{
  margin:0;
  padding:0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
}
.display-panel{
  box-sizing: border-box;
  height:300px;
  width:100%;
  margin:10px auto;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  direction: rtl;
  position:relative;
  right:0;
  padding-right:15px;
  max-width: 340px;
}
.display{
  display:inline-block;
  text-align: right;
  font-size: 45px;
  margin-left:auto;
  margin-bottom:20px;
  direction: ltr;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
}

.display-panel::-webkit-scrollbar {
    height: 5px;
}
.approx{
  height:40%;
  width:85%;
  position:absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);
  background-color: rgb(51,102,255);
  direction: ltr;
  border-radius:20px;
  padding:0 15px;
}
.approx p{
  position:absolute;
  left:15px;
  top:15px;
  color:skyblue;
}
.display-approx{
  height:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color:white;
  margin:10px 0 0 0;
  font-weight:600;
  font-size: 37px;
  overflow-x: auto;
}
.panel{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative ;
  bottom:20px;
  gap:15px
}
.equal{
  grid-row: span 2;
  height:135px;
  color:white;
  border-radius:15px;
  background-color:rgb(128, 159, 255);
}
.operation,.clear,.back{
  color:rgb(128, 159, 255);
}
button{
  height:60px;
  min-width:70px;
  font-size: 30px;
  border:none;
  background-color: transparent;
  font-weight:600;
}